 <ion-header class="headerHome {{global.state['theme']}}">
   <ion-navbar no-border-bottom color="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profil</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top color="header">
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
<!-- <button ion-button type="button" (click)="sort()">Sort</button> -->
    </ion-toolbar>
</ion-header>

<ion-content padding="true" class="{{global.state['theme']}" offset-50>
    <ion-slides autoplay="5000" loop="true" speed="3000" style="width:100%;height:200px;" class="slideImage">
        <ion-slide *ngFor="let slide of slideData">
          <img src="{{slide.image}}" />
        </ion-slide>
    </ion-slides>

    <ion-card class="category-concept-card card" no-lines no-padding>
    <ion-card-header>
      <h2 class="category-title" class="textDesc text-wrap">Profil Perusahaan</h2>
    </ion-card-header>
    <ion-card-content>
        <ion-col no-padding>
            <button ion-button color="secondary" round outline item-end icon-left (click)='OpenUrl5();'>
                <ion-icon name="ios-browsers"></ion-icon>
                Open Page
            </button>
        </ion-col>
    </ion-card-content>
    </ion-card>

    <ion-card style="width: 100%; height: 100px;overflow : hidden !important;" class="category-concept-card cardHome" no-lines no-padding>
    <ion-card-header>
      <h2 class="category-title" class="textDesc text-wrap">Kegiatan Inovasi</h2>
    </ion-card-header>
    <ion-card-content>
        <ion-col no-padding>
            <button ion-button color="secondary" round outline item-end icon-left (click)='KegInovasi();'>
                <ion-icon name="ios-browsers"></ion-icon>
                Open Page
            </button>
        </ion-col>
    </ion-card-content>
    </ion-card>

    <ion-card style="width: 100%; height: 100px;overflow : hidden !important;" class="category-concept-card cardHome" no-lines no-padding>
    <ion-card-header>
      <h2 class="category-title" class="textDesc text-wrap">Struktur Organisasi</h2>
    </ion-card-header>
    <ion-card-content>
        <ion-col no-padding>
            <button ion-button color="secondary" round outline item-end icon-left (click)='OpenUrl01();'>
                <ion-icon name="ios-browsers"></ion-icon>
                Open Page
            </button>
        </ion-col>
    </ion-card-content>
    </ion-card>

    <ion-card style="width: 100%; height: 100px;overflow : hidden !important;" class="category-concept-card cardHome" no-lines no-padding *ngFor="let item of items">
    <ion-card-header>
      <h2 class="category-title" class="textDesc text-wrap">{{item.ListName}}</h2>
    </ion-card-header>
    <ion-card-content>
        <ion-col no-padding>
            <button ion-button color="secondary" round outline item-end icon-left (click)="openPage(item)">
                <ion-icon name="ios-browsers"></ion-icon>
                Open Page
            </button>
        </ion-col>
    </ion-card-content>
    </ion-card> 
</ion-content>
    <!-- <ion-list *ngFor="let item of items" >
    <ion-card-content>
      <h2>
        {{item.ListName}}
      </h2>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button (click)="openPage(item)" ion-button clear small icon-left color="dark">
            <ion-icon name='calculator'></ion-icon>
            calculate
        </button>
      </ion-col>
    </ion-row>
  </ion-list> -->
        
