page-berita-reportase {
        .slideImage{
          padding-bottom: 20px;
          margin-bottom: -20px;
        }
        ion-header {
        }
        .textButtonHeader{
          color: #fff;
          font-weight: bold;
        }
        ion-navbar {
        }

        ion-avatar{
          border-radius: 0px;
        }

        .avatarCard{
          height: 80px;
          width: 80px;
          border-radius: 0px;
        }
        ion-title{
          text-align: center;
        }
        .cardHome{
          border-width: 1px;
          border-color: #00b052;
          box-shadow: 0 3px 3px rgb(9, 95, 25);
        }

        .avatarCard{
          height: 80px;
          width: 80px;
          border-radius: 0px;
        }

        .cardLink{
          color: blue;
        }

        p.textDesc{
          color: #000;
          white-space: normal;
          text-align: left;
        }
        .labelDateReportase{
        	color: #000;
        }
        .rowBeritaReportase {
		  margin: 0 auto;
		  text-align: center;
		  
	
		  &:nth-child(2),
		  &:nth-child(8),
		  &:nth-child(10){
		  }
		  &:nth-child(3),
		  &:nth-child(7) {
		    background: #377D6A;
		  }
		  &:nth-child(4),
		  &:nth-child(6) {
		    background: #7AB893;
		  }
		  &:nth-child(5) {
		    background: #B2E3AF;
		  }
		  
		  span {
		    position: relative;
		    display: inline-block;
		    margin: 30px 10px;
		  }
		}
		.basic-slide {
		  display: inline-block;
		  width: 347px;
		  padding: 10px 0 10px 15px;
		  font-family: "Open Sans", sans;
		  font-weight: 400;
		  color: #000;
		  background: #efefef;
		  border: 0;
		  border-radius: 3px;
		  outline: 1;
      border-width: 2px;
      border-style: solid;
      border-color: #1b5e20;
		  text-indent: 70px; // Arbitrary.
		  transition: all .3s ease-in-out;
		  
		  &::-webkit-input-placeholder {
		    color: #efefef;
		    text-indent: 0;
		    font-weight: 300;
		  }

		  + label {
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    color: #fff;
		    padding: 14px 25px;
		    text-align: center;
		    text-shadow: 0 1px 0 rgba(19,74,70,.4);
		    background: #1b5e20;
		    transition: all .3s ease-in-out;
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		  }
		}
		
 	ion-badge{
    right: calc(50% - 30px) !important;
    top: -5px;
    position: absolute;
    right: 4%;
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
  }

  .popup-menu ion-icon {
    text-align: center;
    color: white;
    font-size: 2.5em;
    padding-right: 10px;
    padding-bottom: 4px;
  }
  .popup-menu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
    background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
  }
  .popup-menu-overlay.in {
    opacity: 1;
    visibility: visible;
  }
  .popup-menu-toggle {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    left: 50%;
    margin-left: -20px;
    background-color: #1b5e20;
    border-radius: 10%;
    z-index: 101;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .popup-menu-toggle:before {
    position: absolute;
    content: '\f10a';
    font-family: "Ionicons";
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    color: white;
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .popup-menu-toggle.out {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .popup-menu-toggle.out:before {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .popup-menu-panel {
    position: fixed;
    width: 300px;
    height: 180px;
    border-radius: 5%;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
    padding: 0px 5px;
    background-color: #1b5e20;
    z-index: 102;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .popup-menu-panel .popup-menu-item {
    margin: auto;
    -webkit-box-flex: 1 0 30%;
    -webkit-flex: 1 0 30%;
    -moz-box-flex: 1 0 30%;
    -moz-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .popup-menu-panel .popup-menu-item i {
    margin: auto 0px 0px 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
  }
  .popup-menu-panel .popup-menu-item span {
    padding: 0px;
    margin: 0px 0px auto 0px;
    color: white;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 11px;
  }
  .popup-menu-panel .popup-menu-item:active i {
    color: rgb(221,65,53);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel .popup-menu-item:active span {
    color: rgb(221,65,53);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel.in {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .popup-menu-panel.in .popup-menu-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .itemSelengkapnya{
    text-align: right;
    font-size: 1.4rem;
    border-width: 2px;
    border-top-style: double;
    border-color: #fff;
    color: #1b5e20;
  }
  .item-md ion-avatar ion-img, .item-md ion-avatar img {
      border-radius: 10%;
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin-top: 20px; 
  }
  .item-md {
      padding-left: 16px;
      padding-right: 0px;
      position: relative;
      font-size: 1.4rem;
      font-weight: normal;
      text-transform: none;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-md {
      margin: 5px;
      border-radius: 2px;
      width: 97%;
      font-size: 1.4rem;
      background: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
      cursor: pointer;
  }
		
} 