<ion-header class="headerHome {{global.state['theme']}}">
  <ion-navbar no-border-bottom color="header">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Petro News</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentFilter()">
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top color="header">
    <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar> -->
     <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="has-header {{global.state['theme']}}" >
  <button class="pop-in" ion-button (click)="changeTheme('')">Default</button>
  <button class="pop-in" ion-button color="dark" (click)="changeTheme('theme-dark')">Dark</button>

  <!--============================= REFRESH PAGE ========================================================= -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--==================================================================================================== -->

  <!--============================= IMAGES SLIDE ========================================================= -->
    <ion-slides autoplay="5000" loop="true" speed="3000" style="width:100%;height:200px;" class="slideImage">
      <ion-slide *ngFor="let slide of slideData">
        <img style="width: 348px" src="{{slide.image}}" />
      </ion-slide>
  </ion-slides>
  <!--=================================================================================================== -->

  <!--============================= MENU CARD =========================================================== -->
  <ion-card class="cardMenu{{global.state['theme']}}">
    <a class="linkBerita" [navPush]="'BeritaReportasePage'">
      <button text-wrap class="buttonMenu">
        <ion-icon class="iconMenu" name="globe"></ion-icon><br>
        REPORTASE
      </button>
    </a>
    <a class="linkBerita"  [navPush]="'PengumumanPage'">
      <button text-wrap class="buttonMenu">
        <ion-icon class="iconMenu" name="globe"></ion-icon><br>
        PENGUMUMAN
      </button>
    </a>
    <a class="linkBerita" [navPush]="'SiaranPersPage'">
      <button text-wrap class="buttonMenu">
        <ion-icon class="iconMenu" name="globe"></ion-icon><br>
        SIARAN PERS
      </button>
    </a>
  </ion-card>

  <ion-card class="cardMenu{{global.state['theme']}}">
    <a class="linkBerita" [navPush]="'ArtikelPage'">
      <button text-wrap class="buttonMenu">
        <ion-icon class="iconMenu" name="globe"></ion-icon><br>
        ARTIKEL
      </button>
    </a>
    <a class="linkBerita" [navPush]="'KegiatanTahunanPage'">
      <button text-wrap class="buttonMenu">
        <ion-icon class="iconMenu" name="globe"></ion-icon><br>
        TAHUNAN
      </button>
    </a>
    <button text-wrap class="buttonMenu">
      <ion-icon class="iconMenu" name="settings"></ion-icon><br>
      PENGATURAN
    </button>
  </ion-card>
  <!--=================================================================================================== -->

  <!--============================= LIST CARDS BERITA =================================================== -->
    <ion-card *ngFor="let berita of beritaku | async" (click)="openDetails(berita)"class="cardHome">
      <ion-item text-wrap>
        <ion-avatar item-left clas="avatarBerita">
          <img class="avatarCard" src="{{berita.ImageName}}" />
        </ion-avatar>

        <p class="textDesc text-wrap">{{berita.NewsTitle}}</p>
      </ion-item> 
      <ion-label class="itemSelengkapnya">Selengkapnya...</ion-label>
    </ion-card>
  <!--=================================================================================================== -->
</ion-content>
