page-home{
  .headerHome{
    background-color: #1b5e20;
  }
  //============================== SEARCHBAR ====================================//
    .searchbar-md .searchbar-input {
      padding: 6px 55px;
      border-radius: 2px;
        background-position: left 8px center;
      height: auto;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3rem;
      color: #1b5e20;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
    }
    .searchbar-md .searchbar-search-icon {
      left: 16px;
      top: 11px;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%235b5b5b'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
      width: 21px;
      height: 21px;
      color: #fff;
    }
  //==============================================================================//
  ion-content{
    background-color: #fff;
  }
  .avatarCard{
    border-radius: 10px;
    height: 80px;
    width: 80px;
    }
    ion-title{
      text-align: center;
    }
    .cardMenu{
      padding-left: 4px;
      padding-bottom: 4px;
      width: 100%;

    }
  .buttonMenu{
      width: 115px;
      height: 120px;
      background-color: #1b5e20;
      color: #fff;
  }
  .iconMenu{
    padding-bottom: 10px;
    font-size: 3.2rem;
    padding-right: 5px;
  }
  a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-family: "Roboto","Helvetica Neue",sans-serif;
  }
  .toolbar-md-header .bar-button-clear-md, .toolbar-md-header .bar-button-default-md, .toolbar-md-header .bar-button-outline-md, .toolbar-md-header .toolbar-title-md {
    color: #fff;
  }
  .itemSelengkapnya{
    text-align: right;
    font-size: 1.4rem;
    border-width: 2px;
      border-top-style: double;
      border-color: #fff;
      color: #1b5e20;
  }
  .item-md ion-avatar ion-img, .item-md ion-avatar img {
      border-radius: 10%;
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin-top: 20px; 
  }
  .item-md {
      padding-left: 16px;
      padding-right: 0px;
      position: relative;
      font-size: 1.4rem;
      font-weight: normal;
      text-transform: none;
      background-color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-md {
      margin: 5px;
      border-radius: 2px;
      width: 97%;
      font-size: 1.4rem;
      background: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
      cursor: pointer;
  }




}