.theme-dark {
  transition: all 1.1s ease;
  background-color: #060606;
  // background: #0c1a2c;
  // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .toolbar-title{
    background-color: #fbd944;//kuning
    color: #000;
    text-align: center;
  }
  .bar-button-default,
  body{
    font-family: "Roboto","Helvetica Neue",sans-serif;
  }
  div {
    transition: all 1.1s ease;
    color: #000;
  }
  .onboard {
    border-color: #212121 !important;
  }
  .toolbar-background{
    background-color: #fbd944;
    color: #000;
  }
  .toggle-checked {
    transition: all 1.1s ease;
    background-color: #212121 !important;
  }
  .item-note,
  .themeButton,
  .swiper-pagination-bullet {
    transition: all 1.1s ease;
    //background-color: #fff;
    //border-style: solid;
    //border-width: 1px;
    //border-color: white;
  }
  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  //============================== ion-item card ====================================//
  ion-label {
    transition: all 1.1s ease;
    background-color: #303030 !important;
    background: #fbd944 !important;
  }
  ion-list {
    background-color: #100815;
  }
  .time {
    background-color: white;
  }
  .item {
    transition: all 1s ease;
    background-color: #100815;
  }
  .range-bar {
    background-color: #463E3F !important;
  }
  .s2,
  .s3,
  .toggle-inner,
  .range-pin,
  .range-pin::before,
  .range-knob,
  .range-bar-active {
    background-color: white !important;
  }
//============================== SEARCHBAR ====================================//
  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #fff;
    background-color: #060606;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }
  .searchbar-md .searchbar-search-icon {
    left: 16px;
    top: 11px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%235b5b5b'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
    width: 21px;
    height: 21px;
  }
//=========================Kegiatan Tahunan=====================================================//
  .cardMenu{
      padding-bottom: 5px;
      width: 100%;
      padding-left: 3px;
    }
  .buttonMenu{
      width: 115px;
      height: 120px;
      background-color: #fbd944;
      margin-bottom: 5px; font-family: "Roboto","Helvetica Neue",sans-serif;
      cursor: pointer;
      color: #000;
  }
  .iconMenu{
    padding-bottom: 10px;
    font-size: 3.2rem;
  }
  ion-app.md {
    font-family: "Roboto","Helvetica Neue",sans-serif;
  }
  ion-card {
    display: block;
    overflow: hidden;
    margin-left: 5px;
  }
  .linkBerita{
    font-family: "Roboto","Helvetica Neue",sans-serif;
    text-decoration: none;
    color: #000;
  }
  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Roboto","Helvetica Neue",sans-serif;
  }
  .toolbar-md-header .bar-button-clear-md, .toolbar-md-header .bar-button-default-md, .toolbar-md-header .bar-button-outline-md, .toolbar-md-header .toolbar-title-md {
    color: #000;
  }
  .cardUtamaKegiatan{
      text-align: center; 
      box-shadow: 0px; 
      padding-bottom: 5px; 
      padding-top: 10px;
      margin-bottom: 5px; 
      width: 60%;
      margin-left: 20%;
      background-color: #060606;
    }
    .card-md{
      -webkit-box-shadow: 0 0px 0px 0;
        box-shadow: 0 0px 0px 0;
        background-color: #fbd944;
    }
    .selectTahun{
        border-color: #1b5e20;
        border-style: solid;
        border-width: 1px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: fantasy;
      }
      .selectText{
        color: #000;
      }
    .cardTahunan{
      box-shadow: none;
      background-color: #060606;
    }
    .alert-md.alert-title {
        font-size: 22px;
        text-align: center;
        padding-left: 30px;
    }
    .alert-title {
        margin: 0;
        padding-left: 30px;
    }
    .headerCardTahun{
      text-align: center;
      background-color: #fbd944;
      font-weight: bold;
    }
    .contentCardTahun{
      padding-top: 5px;
      padding-left: 15%;
      height: 190px;
      background-color: #060606;
    }
    .buttonDownloadTahun{
      background-color: #fbd944;
      border-style: outset;
      border-width: 7px;
      border-color: #060606;
      color: #000;
      text-transform: none;
    }

    img.kegiatanTahun{
        height: 180px;
        width: 135px;
      }
    .button-md:hover{
      background-color: #fbd944;
      color: #060606;
    }
    ion-card-header {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    //================================== tanggal berita ===================================//
    .basic-slide {
      display: inline-block;
      width: 347px;
      padding: 10px 0 10px 10px;
      font-family: "Open Sans", sans;
      font-weight: 400;
      color: #fbd944;
      background: #000;
      border: 0;
      border-radius: 3px;
      outline: 1px;
      border-width: 2px;
      border-style: solid;
      border-color: #fbd944;
      text-indent: 70px; // Arbitrary.
      transition: all .3s ease-in-out;
      
      &::-webkit-input-placeholder {
        color: #efefef;
        text-indent: 0;
        font-weight: 300;
      }

      + label {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
        padding: 14px 25px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(19,74,70,.4);
        background: #fbd944;
        transition: all .3s ease-in-out;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    //================================== menu pop up ===================================//
    .popup-menu-toggle {
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 10px;
      left: 50%;
      margin-left: -20px;
      background-color: maroon;
      border-radius: 10%;
      z-index: 101;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    .popup-menu-panel {
      position: fixed;
      width: 300px;
      height: 180px;
      border-radius: 5%;
      bottom: 20px;
      left: 50%;
      margin-left: -150px;
      padding: 0px 5px;
      background-color: #060606;
      z-index: 102;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
      -webkit-transform-origin: 50% 100% 0px;
      transform-origin: 50% 100% 0px;
      -webkit-transform: scale(0);
      transform: scale(0);
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
      .popup-menu ion-icon {
      text-align: center;
      color: #fbd944;
      font-size: 2.5em;
    }
    .popup-menu-panel .popup-menu-item span {
      padding: 0px;
      margin: 0px 0px auto 0px;
      color: #fbd944;
      text-align: center;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 11px;
    }
    //================================== card berita ===================================//
    .itemSelengkapnya{
      text-align: right;
      font-size: 1.4rem;
      padding-top: 10px;
      border-width: 2px;
      border-top-style: double;
      border-color: #000;
      background-color: #000;
      color: blue;
    }


}

